@media only screen and (min-width: 992px) {
  .hamburger-wrapper {
    display: none;
  }

  .header-wrapper nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .header-wrapper nav a {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .header-wrapper nav a:first-of-type {
    font-weight: 600;
    border-bottom: 1px solid black;
  }

  .header__section {
    height: 711px;
  }

  .header__container {
    height: 688px;
    background-image: url("../img/Ilustration_Header\ 2.png");
  }

  .header__container h1 {
    font-size: 118px;
    line-height: 88px;
    width: 442px;
    top: 290px;
    left: 130px;
  }

  .form__container {
    top: -140px;
  }

  .infocards__section {
    background-image: url("../img/infocards-bg\ 2.svg");
    background-position-x: left;
    background-position-y: 15%;
    background-size: 40%;
    background-repeat: no-repeat;
  }

  .card__item:first-of-type {
    border: 1px solid #00000080;
    background-color: #ffffff80;
    box-shadow: inset -5px -5px 0px 0px #00000040;
  }
}
